/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

// kate: syntax C;
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include "zmk-helpers/helper.h"




/ {

    macros {
        // Пример: символ собаки @ (Unicode U+0040)
        uc_at: uc_at {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
            = <&macro_press &kp LCTRL &kp LSHFT>, // Зажимаем Ctrl+Shift
            <&macro_tap &kp U>,                 // Нажимаем U (включаем режим ввода)
            <&macro_release &kp LCTRL &kp LSHFT>, // Отпускаем модификаторы
            <&macro_tap &kp N4 &kp N0>,         // Пишем Hex-код (40 для @)
            <&macro_tap &kp SPACE>;             // Подтверждаем ввод
        };
    };




//===============================================================================================





    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&uc_at         &kp Q  &kp W  &kp E      &kp R            &kp T                 &kp Y        &kp U      &kp I         &kp O    &kp P      &kp LEFT_BRACKET
&kp LEFT_SHIFT  &kp A  &kp S  &kp D      &kp F            &kp G                 &kp H        &kp J      &kp K         &kp L    &kp SEMI   &kp SQT
&kp TAB         &kp Z  &kp X  &kp C      &kp V            &kp B                 &kp N        &kp M      &kp COMMA     &kp DOT  &kp SLASH  &mt RIGHT_ALT RIGHT_BRACKET
                              &kp LCTRL  &lt 2 BACKSPACE  &lt 1 SPACE           &lt 1 RET    &kp DEL    &kp CAPSLOCK
            >;
        };




    };
};
